[Desktop Entry]
Type=Application
Version=1.0
Name=QoL Guest Runner
Exec=/usr/local/libexec/qol-guest-runner --run-id-path /run/qol-guest-run-id
TryExec=/usr/local/libexec/qol-guest-runner
OnlyShowIn=X-Cinnamon;
NoDisplay=true
Terminal=false
X-GNOME-Autostart-enabled=true
